2mp3==0.1.0
backcall==0.1.0
colorama==0.4.3
decorator==4.4.2
envoy==0.0.3
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
llvmlite==0.34.0
numba==0.51.2
numpy==1.19.2
parso==0.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
pygame==2.0.0.dev8
Pygments==2.6.1
simple-draw==2.6.8
six==1.15.0
termcolor==1.1.0
traitlets==4.3.3
wcwidth==0.1.9
